<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aber Comp Sci</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" type="text/css" href="/res/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="navbar navbar-fixed-top border">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                {% for n in site.nav %}
                  {% if page.url == n.permalink %}
                    <li class="active"><a href="{{ n.permalink }}">{{ n.page }}</a></li>
                  {% else %}
                    <li><a href="{{ n.permalink }}">{{ n.page }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
                <ul class="nav pull-right">
                    <li ><a href="https://github.com/OAOSIDL/abercompsci.co.uk">Repo</a></li>
                    <li><a href="https://github.com/OAOSIDL/abercompsci.co.uk/issues">Issues <span class="badge badge-info open_issues"></span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <small>Introducing</small>
                    <h1>{{ site.name }}</h1>
                    <h4>"{{ site.slogan }}"</h4>
                </div>
            </div>
        </div>
        <div class="content">
            {{ content }}
        </div>
        <hr />
        <div class="disclaimer">
            <small>Please note that the Official Aberystwyth Open Source International Developers League is not affiliated with Aberystwyth University or the Department of Computer Science.</small>
        </div>
        <div class="copy">
            <small>This site is cheerfully maintained by the OAOSIDL, <a href="https://github.com/OAOSIDL/abercompsci.co.uk">patch welcome</a>.<br />&copy; 2013 OAOSIDL</small>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $.get('https://api.github.com/repos/OAOSIDL/abercompsci.co.uk', function(data) {
                $('.open_issues').html(data.open_issues_count); }, 'json');
        });
    </script>
</body>
</html>
